body{
  background-color: #eee;
  color: #333;
  font-family: 'helvetica neue', helvetica, arial, sans-serif !important;
}

.right{
  float:right;
}

.left{
  float:left;
}

input{
  vertical-align: middle;
  height: 25px;
}

select{
  vertical-align: middle;
  height: 20px;
}

input.date{
  width: 100px;
}

.container{
  background-color: #fff; 
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px; 
  padding: 15px;
  margin-bottom: 40px;
}
.header h1{
  color: #333;
  margin: 10px 0 30px 0;
  font-size: 2.3em;
  text-shadow: 1px 1px 1px #ddd;
}

.body>h2{
  -moz-border-radius-topleft:       7px;
  -webkit-border-top-left-radius:   7px;
  -moz-border-radius-topright:      7px;
  -webkit-border-top-right-radius:  7px;
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #bfbfbf;
  color: #333;
  font-size: 1.6em;
  padding: 3px 6px;
  text-shadow: 1px 1px 1px #FFF;
}

.body>h3{
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 7px;
}

.body>h3 button{
  float: right;
}

.body dl dt{
  float: left;
  width: 85px;
}

.body dl dt label{
  width: 75px;
  display:block;
  height: 20px;
  padding-top: 7px;
}


.body .grid{
  border: 1px solid #ccc;
  border-width: 0 1px 1px 1px;
  height: 200px;
  margin-bottom: 20px;
  width: 495px;
}

.body .grid .slick-header-column{
  font-weight: bold;
  text-shadow: 1px 1px 1px #FFF;
}

.body .chart{
  width: 600px;
  height: 350px;
}

/*NAV STYLES*/

.nav ul{
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  border: 1px solid #ccc;
  padding: 0;
  margin:0;
  position: relative;
  height: 35px;
}

.nav ul li{
  display:inline-block;
  position: relative;
  height: 35px;
}

.nav ul li a{
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  border-right: 1px solid #ccc;
  border-left: 1px solid #fff;
  color: #333;
  display:inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 7px 10px;
  position: relative;
  text-decoration: none;
  text-shadow: 1px 1px 1px #fff;
}

.nav ul li a:hover{
  background-color: #FFF;
  background-image: none;
}

.ui-dialog-titlebar{
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #bfbfbf;
  font-family: helvetica, arial, sans-serif;
  text-shadow: 1px 1px 1px #fff;
}

.footer h5{
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  border: 1px solid #ddd;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #bfbfbf;
  color: #333;
  margin-top: 20px;
  padding: 7px 6px;
  text-shadow: 1px 1px 1px #FFF;
}

.footer h5  span{
  color: #555;
  float:right;
  font-size: 10px;
  font-weight: bold;
  margin: 2px 0 0 20px;
  text-transform: uppercase;
}


.menu ul{
  -moz-border-radius-topleft:         3px;
  -webkit-border-top-left-radius:     3px;
  -moz-border-radius-topright:        3px;
  -webkit-border-top-right-radius:    3px;
  -moz-border-radius-bottomright:     3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft:      3px;
  -webkit-border-bottom-left-radius:  3px;
  border: 1px solid #ccc;
  border-top: 1px solid #ccc;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding:10px;
  width: 200px;
}

.menu ul li{
  height: 20px;  
}

.menu ul li a{
  color: #333;
  text-decoration: none;
  display:block;
  padding-left: 5px;
  height: 20px;
  width: 195px;
}

.menu ul li a:hover, .menu ul li a.visited{
  background-color: #E6E6E6;
  background-image: url(../js/SlickGrid/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png);
  background-repeat: repeat-x;
  background-position: 50% 50%;
  text-shadow: 1px 1px 1px #FFF;
  font-weight: bold;
}

#page{
  margin: 20px;
}

#page h1{
  text-shadow: none;
  font-size: 22px;
  margin :30px 0 20px 0;
}

#page h2{
  font-size: 16px;
  font-weight: bold;
  margin : 24px 0 14px 0;
}

#page pre{
  background-color: #ffe;
  border: 1px solid #FFF0cc;
  font-size: 110%;
  padding: 20px;
}

#page ul{
  
}

#page ul li{
  margin: 5px 0;
}


#behaveFrame{
  -moz-border-radius:3px 3px 3px 3px;
  border:1px solid #CCCCCC;
  list-style-type:none;
  margin:20px 0 0;
  padding:10px;
  width:200px;
}